@import "./colors";

.light-mode {
  --background_color: #{$gray_100};
  --input_color: #{$gray_200};
  --text_color: #{$blue_300};
  --elements_color: #{$white};
  --accent-color: #{$magenta_300};

  --header-background: #{$white};

  background: var(--background_color);
}

.dark-mode {
  --background_color: #{$blue_200};
  --input_color: #{$white};
  --text_color: #{$white};
  --elements_color: #{$blue_100};

  --header-background: #{$blue_100};

  background: var(--background_color);
}

:root {
  --font-weight-light: 300;
  --font-weight-regular: 600;
  --font-weight-bold: 800;

  --padding-x: 80px;

  --container-min-height: calc(100vh - var(--header-height));

  --header-height: 80px;
  --header-box-shadow: 1px 1px 5px #{$box-shadow-color-90};

  --card-box-shadow: 1px 3px 8px #{$box-shadow-color-90};

  --input-box-shadow: 1px 3px 8px #{$box-shadow-color-90};
}
