.card {
  background: var(--elements_color);
  border-radius: 5px;
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // max-width: 500px;
  overflow: hidden;
  // min-width: 150px;
  flex: 1;

  &__content {
    color: var(--text_color);
    height: 150px;
    padding: 15px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    strong {
      font-size: 20px;
    }
  }
}

.list-names {
  display: flex;
  flex-direction: column;

  button {
    margin: 10px;
  }
}

.list {
  gap: 20px;

  display: grid;

  grid-template-columns: 1fr;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra small	None	<576px
// Small	sm	≥576px
// Medium	md	≥768px
// Large	lg	≥992px
// Extra large	xl	≥1200px
// Extra extra large	xxl	≥1400px
