.header {
  align-items: center;
  background: var(--header-background);
  box-shadow: var(--header-box-shadow);
  color: var(--text_color);
  display: flex;
  height: var(--header-height);
  font-weight: var(--font-weight-bold);
  justify-content: space-between;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  position: sticky;
  top: 0;
  z-index: 1;

  h1 {
    font-size: 24px;
  }
}
